@using TME.FrontEndViewer.Models
@model IEnumerable<TME.CarConfigurator.Interfaces.ITransmission>


@foreach (var model in Model)
{
    <div class="clickable">
        <table class="top">
            <tr>
                <td>
                    <b>@Html.Raw(model.Name)</b>
                </td>
            </tr>
        </table>
        <div class="clickable object" data-id="@Html.Raw(model.ID)">
            @Html.Partial("_baseObject", model)
            <p class="property" data-id="Brochure">Brochure : @Html.Raw(model.Brochure)</p>
            <p class="property" data-id="KeyFeature">KeyFeature : @Html.Raw(model.KeyFeature)</p>
            <p class="property" data-id="NumberOfGears">NumberOfGears : @Html.Raw(model.NumberOfGears)</p>
            @Html.Partial("_baseObjectWithPrefix", new BaseObjectWithPrefix() {BaseObject = model.Type,Prefix ="Type"})

            <p class="property" data-id="actionlinks">
                @Html.ActionLink("Assets","Index", "ModelTransmissionAssets", new { modelID = ViewBag.ModelID, transmissionID = model.ID}, new { })
                @foreach (var visibleInModeAndView in model.VisibleIn)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink(String.Format("Assets ({0}-{1})", visibleInModeAndView.Mode, visibleInModeAndView.View),"Index", "ModelTransmissionVisibleInAssets", new { modelID = ViewBag.ModelID, transmissionID = model.ID, mode = visibleInModeAndView.Mode, view = visibleInModeAndView.View}, new { })         
                }
            </p>
        </div>
    </div>
}