@using TME.FrontEndViewer.Models
@model IEnumerable<TME.CarConfigurator.Interfaces.IWheelDrive>


@foreach (var model in Model)
{
    <div class="clickable">
        <table class="top">
            <tr>
                <td>
                    <b>@Html.Raw(model.Name)</b>
                </td>
            </tr>
        </table>
        <div class="clickable object" data-id="@Html.Raw(model.ID)">
            @Html.Partial("_wheelDrive", model)

            <p class="property" data-id="actionlinks">
                @Html.ActionLink("Assets","Index", "ModelWheelDriveAssets", new { modelID = ViewBag.ModelID, wheelDriveID = model.ID}, new { })
                @foreach (var visibleInModeAndView in model.VisibleIn.Where(x => x.Assets.Any()))
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink(String.Format("Assets ({0}-{1})", visibleInModeAndView.Mode, visibleInModeAndView.View),"Index", "ModelWheelDriveVisibleInAssets", new { modelID = ViewBag.ModelID, wheelDriveID = model.ID, mode = visibleInModeAndView.Mode, view = visibleInModeAndView.View}, new { })         
                }
            </p>

        </div>
    </div>
}