@model TME.CarConfigurator.Interfaces.Assets.IAsset
<p class="property" data-id="ID">ID : @Html.Raw(Model.ID)</p>
<p class="property" data-id="ShortID">ShortID : @Html.Raw(Model.ShortID)</p>
<p class="property" data-id="Name">Name : @Html.Raw(Model.Name)</p>
<p class="property" data-id="AlwaysInclude">AlwaysInclude : @Html.Raw(Model.AlwaysInclude)</p>
<p class="property" data-id="AssetTypeCode">AssetType.Code : @Html.Raw(Model.AssetType.Code)</p>
<p class="property" data-id="AssetTypeName">AssetType.Name : @Html.Raw(Model.AssetType.Name)</p>
<p class="property" data-id="AssetTypeType">AssetType.Type : @Html.Raw(Model.AssetType.Type)</p>
<p class="property" data-id="AssetTypeMode">AssetType.Mode : @Html.Raw(Model.AssetType.Mode)</p>
<p class="property" data-id="AssetTypeView">AssetType.View : @Html.Raw(Model.AssetType.View)</p>
<p class="property" data-id="AssetTypeSide">AssetType.Side : @Html.Raw(Model.AssetType.Side)</p>
<p class="property" data-id="AssetTypeExteriorColourCode">AssetType.ExteriorColourCode : @Html.Raw(Model.AssetType.ExteriorColourCode)</p>
<p class="property" data-id="AssetTypeUpholsteryCode">AssetType.UpholsteryCode : @Html.Raw(Model.AssetType.UpholsteryCode)</p>
<p class="property" data-id="AssetTypeEquipmentCode">AssetType.EquipmentCode : @Html.Raw(Model.AssetType.EquipmentCode)</p>
<p class="property" data-id="FilePath">FilePath : @Html.Raw(Model.FilePath)</p>
<p class="property" data-id="FileTypeCode">FileType.Code : @Html.Raw(Model.FileType.Code)</p>
<p class="property" data-id="FileTypeType">FileType.Type : @Html.Raw(Model.FileType.Type)</p>
<p class="property allow-mismatch" data-id="Hash">Hash : @Html.Raw(Model.Hash)</p>
<p class="property" data-id="SortIndex">Width : @Html.Raw(Model.Width)</p>
<p class="property" data-id="Height">Height : @Html.Raw(Model.Height)</p>
<p class="property" data-id="PositionX">PositionX : @Html.Raw(Model.PositionX)</p>
<p class="property" data-id="PositionY">PositionY : @Html.Raw(Model.PositionY)</p>
<p class="property" data-id="IsTransparent">IsTransparent : @Html.Raw(Model.IsTransparent)</p>
<p class="property" data-id="RequiresMatte">RequiresMatte : @Html.Raw(Model.RequiresMatte)</p>
<p class="property" data-id="StackingOrder">StackingOrder : @Html.Raw(Model.StackingOrder)</p>