@model TME.CarConfigurator.Interfaces.IAvailabilityCompare
<p class="property" data-id="Standard">Standard : @Html.Raw(Model.Standard)</p>
<p class="property" data-id="Optional">Optional : @Html.Raw(Model.Optional)</p>
<p class="property" data-id="NotAvailable">NotAvailable : @Html.Raw(Model.NotAvailable)</p>
<div>
    <strong>Standard On</strong>
    @foreach (var car in Model.StandardOn)
    {
        <div class="object sub-item" data-id="@Html.Raw(car.ShortID)">
            <div class="title">
                <strong>@Html.Raw(car.Name)</strong>
            </div>
            <div class="content">
                <p class="property" data-id="ShortID">ShortID: @Html.Raw(car.ShortID)</p>
                <p class="property" data-id="Name">Name: @Html.Raw(car.Name)</p>
            </div>
        </div>
    }
</div>
<div>
    <strong>Optional On</strong>
    @foreach (var car in Model.OptionalOn)
    {
        <div class="object sub-item" data-id="@Html.Raw(car.ShortID)">
            <div class="title">
                <strong>@Html.Raw(car.Name)</strong>
            </div>
            <div class="content">
                <p class="property" data-id="ShortID">ShortID: @Html.Raw(car.ShortID)</p>
                <p class="property" data-id="Name">Name: @Html.Raw(car.Name)</p>
            </div>
        </div>
    }
</div>
<div>
    <strong>Not Available On</strong>
    @foreach (var car in Model.NotAvailableOn)
    {
        <div class="object sub-item" data-id="@Html.Raw(car.ShortID)">
            <div class="title">
                <strong>@Html.Raw(car.Name)</strong>
            </div>
            <div class="content">
                <p class="property" data-id="ShortID">ShortID: @Html.Raw(car.ShortID)</p>
                <p class="property" data-id="Name">Name: @Html.Raw(car.Name)</p>
            </div>
        </div>
    }
</div>