@model TME.CarConfigurator.Interfaces.IBodyType

@Html.Partial("_baseObject", Model)
<p class="property" data-id="NumberOfDoors">NumberOfDoors : @Html.Raw(Model.NumberOfDoors)</p>
<p class="property" data-id="NumberOfSeats">NumberOfSeats : @Html.Raw(Model.NumberOfSeats)</p>
<b>Visible In Mode and View :</b>
<p class="property" data-id="VisibleInExteriorSpin">VisibleInExteriorSpin : @Html.Raw(Model.VisibleInExteriorSpin)</p>
<p class="property" data-id="VisibleInInteriorSpin">VisibleInInteriorSpin : @Html.Raw(Model.VisibleInInteriorSpin)</p>
<p class="property" data-id="VisibleInXRay4X4Spin">VisibleInXRay4X4Spin : @Html.Raw(Model.VisibleInXRay4X4Spin)</p>
<p class="property" data-id="VisibleInXRayHybridSpin">VisibleInXRayHybridSpin : @Html.Raw(Model.VisibleInXRayHybridSpin)</p>
<p class="property" data-id="VisibleInXRaySafetySpin">VisibleInXRaySafetySpin : @Html.Raw(Model.VisibleInXRaySafetySpin)</p>
