@model TME.CarConfigurator.Interfaces.IGrade

<div class="clickable object">
    @Html.Partial("_baseObject", Model)
    <p class="property" data-id="BasedUpon">BasedUpon : @Html.Raw(Model.BasedUpon)</p>
    <p class="property" data-id="Special">Special : @Html.Raw(Model.Special)</p>
    <p class="property" data-id="StartingPricePriceExVat">StartingPrice.PriceExVat : @Html.Raw(Model.StartingPrice.PriceExVat)</p>
    <p class="property" data-id="StartingPricePriceInVat">StartingPrice.PriceInVat : @Html.Raw(Model.StartingPrice.PriceInVat)</p>
</div>