<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/clickable")
    @RenderSection("scripts", false)
    
    <script>

        $("#oldarea .object").each(function() {
            var id = $(this).data('id');
            var newObject = $("#newarea .object[data-id=" + id + "]");

     
            if (newObject.length == 0) {
                $(this).parent().addClass('missing');
                return;
            }

            $('.property', this).each(function() {
                var propertyid = $(this).data('id');
                var newProperty = $(".property[data-id=" + propertyid + "]", newObject);
                
                if (newProperty.length != 1 || $(newProperty[0]).html() != $(this).html()) {
                    
                    $(newProperty).parent().parent().addClass('mismatch');
                    $(newProperty).addClass('mismatch');
                    $(this).parent().parent().addClass('mismatch');
                    $(this).addClass('mismatch');
                }

                
            });

        } );

    </script>    
</body>
</html>
