@using TME.FrontEndViewer.Models
@model TME.CarConfigurator.Interfaces.ITransmission
@Html.Partial("_baseObject", Model)
<p class="property" data-id="Brochure">Brochure : @Html.Raw(Model.Brochure)</p>
<p class="property" data-id="KeyFeature">KeyFeature : @Html.Raw(Model.KeyFeature)</p>
<p class="property" data-id="NumberOfGears">NumberOfGears : @Html.Raw(Model.NumberOfGears)</p>
@Html.Partial("_baseObjectWithPrefix", new BaseObjectWithPrefix() {BaseObject = Model.Type,Prefix ="Type"})