@using TME.FrontEndViewer.Models
@model IEnumerable<TME.CarConfigurator.Interfaces.IEngine>

@foreach (var model in Model)
{
    <div class="clickable">
        <table class="top">
            <tr>
                <td>
                    <b>@Html.Raw(model.Name)</b>
                </td>
            </tr>
        </table>
        <div class="clickable object" data-id="@Html.Raw(model.ID)">
            @Html.Partial("_baseObject", model)
            <p class="property" data-id="Brochure">Brochure : @Html.Raw(model.Brochure)</p>
            <p class="property" data-id="KeyFeature">KeyFeature : @Html.Raw(model.KeyFeature)</p>
            <p class="property" data-id="TypeCode">Type.Code : @Html.Raw(model.Type.Code)</p>
            <p class="property" data-id="TypeName">Type.Name : @Html.Raw(model.Type.Name)</p>
            @Html.Partial("_baseObjectWithPrefix", new BaseObjectWithPrefix() {BaseObject = model.Type.FuelType,Prefix ="Type.FuelType"})
            <p class="property" data-id="TypeFuelTypeHybrid">Type.FuelType.Hybrid : @Html.Raw(model.Type.FuelType.Hybrid)</p>
            @if (model.Category != null) { 
                @Html.Partial("_baseObjectWithPrefix", new BaseObjectWithPrefix() {BaseObject = model.Category,Prefix ="Category"})
            }
            <p class="property" data-id="VisibleInExteriorSpin">VisibleInExteriorSpin : @Html.Raw(model.VisibleInExteriorSpin)</p>
            <p class="property" data-id="VisibleInInteriorSpin">VisibleInInteriorSpin : @Html.Raw(model.VisibleInInteriorSpin)</p>
            <p class="property" data-id="VisibleInXRay4X4Spin">VisibleInXRay4X4Spin : @Html.Raw(model.VisibleInXRay4X4Spin)</p>
            <p class="property" data-id="VisibleInXRayHybridSpin">VisibleInXRayHybridSpin : @Html.Raw(model.VisibleInXRayHybridSpin)</p>
            <p class="property" data-id="VisibleInXRaySafetySpin">VisibleInXRaySafetySpin : @Html.Raw(model.VisibleInXRaySafetySpin)</p>

            <p class="property" data-id="actionlinks">
                @Html.ActionLink("Assets","Index", "ModelEngineAssets", new { modelID = ViewBag.ModelID, engineID = model.ID}, new { })
                @foreach (var visibleInModeAndView in model.VisibleIn)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink(String.Format("Assets ({0}-{1})", visibleInModeAndView.Mode, visibleInModeAndView.View),"Index", "ModelEngineVisibleInAssets", new { modelID = ViewBag.ModelID, engineID = model.ID, mode = visibleInModeAndView.Mode, view = visibleInModeAndView.View}, new { })         
                } |
                @Html.ActionLink("Category Assets","Index", "ModelEngineCategoryAssets", new { modelID = ViewBag.ModelID, engineID = model.ID}, new { }) 
            </p>
        </div>
    </div>
}