@using TME.FrontEndViewer.Models
@model IEnumerable<TME.CarConfigurator.Interfaces.IGrade>


@foreach (var model in Model)
{
    <div class="object" data-id="@Html.Raw(model.ID)">
        <div class="title">
            <strong>@Html.Raw(model.Name)</strong>
        </div>
        <div class="content">
            @Html.Partial("_baseObject", model)
            <p class="property" data-id="Special">Brochure : @Html.Raw(model.Special)</p>
            <p class="property" data-id="BasedUponID">BasedUponID : @Html.Raw(model.BasedUpon == null ? Guid.Empty : model.BasedUpon.ID)</p>
            <br />
            @Html.ActionLink("Assets", "Index", "ModelGradeAssets", new { modelID = ViewBag.ModelID, gradeID = model.ID }, new { }) |
            @Html.ActionLink("Equipment", "Index", "ModelGradeEquipment", new { modelID = ViewBag.ModelID, gradeID = model.ID }, new { })
        </div>
    </div>
}