@model IEnumerable<TME.CarConfigurator.Interfaces.ILink>


@foreach (var model in Model)
{
    <div class="object" data-id="@Html.Raw(model.ID)">
        <div class="title">
            <strong>@Html.Raw(model.Name)</strong>
        </div>
        <div class="content">
            <p class="property" data-id="ID">ID : @Html.Raw(model.ID)</p>
            <p class="property" data-id="Name">Name : @Html.Raw(model.Name)</p>
            <p class="property" data-id="Label">Label : @Html.Raw(model.Label)</p>
            <p class="property" data-id="Url">Url : @Html.Raw(model.Url)</p>
        </div>
    </div>
}