@using TME.FrontEndViewer.Models
@model System.Collections.Generic.List<TME.CarConfigurator.Interfaces.ISubModel>


@foreach (var model in Model)
{
    <div class="object" data-id="@Html.Raw(model.ID)">
        <div class="title">
            <strong>@Html.Raw(model.Name)</strong>
        </div>
        <div class="content">
            @Html.Partial("_baseObject", model)
            <p class="property" data-id="StartingPriceExVat">StartingPrice.ExVat : @Html.Raw(model.StartingPrice.PriceExVat)</p>
            <p class="property" data-id="StartingPriceInVat">StartingPrice.InVat : @Html.Raw(model.StartingPrice.PriceInVat)</p>
            <p class="property" data-id="actionlinks">
                @Html.ActionLink("Assets", "Index", "ModelAssets", new { modelID = ViewBag.ModelID, subModelID = model.ID }, new { })
                @Html.ActionLink("Links", "Index", "ModelLinks", new { modelID = ViewBag.ModelID, subModelID = model.ID }, new { })
                @Html.ActionLink("Grades", "Index", "ModelGrades", new { modelID = ViewBag.ModelID, subModelID = model.ID }, new { })
            </p>
        </div>
    </div>
}