@model TME.CarConfigurator.Interfaces.Equipment.ICarEquipmentItem
@Html.Partial("Equipment/_equipmentItem", Model)
<p class="property" data-id="TotalPricePriceExVat">TotalPrice.PriceExVat : @String.Format("{0:##.###}",Model.Price.PriceExVat)</p>
<p class="property" data-id="TotalPricePriceInVat">TotalPrice.PriceInVat : @String.Format("{0:##.###}",Model.Price.PriceInVat)</p>
<p class="property" data-id="Standard">Standard : @Html.Raw(Model.Standard)</p>
<p class="property" data-id="Optional">Optional : @Html.Raw(Model.Optional)</p>
<p class="property" data-id="AvailableForExteriorColours">
    AvailableForExteriorColours : 
    @if (Model.AvailableForExteriorColours != null)
    {
        var list = Model.AvailableForExteriorColours.Select(x => x.InternalCode).OrderBy(x => x);
        @Html.Raw(String.Join(",", list));
    }
</p>
<p class="property" data-id="AvailableForUpholsteries">
    AvailableForUpholsteries : 
    @if (Model.AvailableForUpholsteries != null)
    {
        var list = Model.AvailableForUpholsteries.Select(x => x.InternalCode).OrderBy(x => x);
        @Html.Raw(String.Join(",", list));
    }
</p>