@model IEnumerable<TME.CarConfigurator.Interfaces.Packs.IGradePack>


@foreach (var model in Model)
{
    <div class="object" data-id="@(model.Name)">
        <div class="title">
            <strong>@Html.Raw(model.Name)</strong>
        </div>
        <div class="content">
            @Html.Partial("_baseObject", model)
            <p class="property" data-id="GradeFeature">GradeFeature : @Html.Raw(model.GradeFeature)</p>
            <p class="property" data-id="OptionalGradeFeature">OptionalGradeFeature : @Html.Raw(model.OptionalGradeFeature)</p>
            @Html.Partial("_availabilityCompare", model)
        </div>
    </div>
}