@model IEnumerable<TME.CarConfigurator.Interfaces.TechnicalSpecifications.ICategory>

@foreach (var model in Model)
{
    <div class="object" data-id="@Html.Raw(model.ID)">
        <div class="title">
            <strong>@Html.Raw(model.Path.ToUpperInvariant())</strong>
        </div>
        <div class="content">
            @Html.Partial("_baseObject", model)
            <p class="property" data-id="Path">Path : @Html.Raw(model.Path.ToLowerInvariant())</p>
            <p class="property" data-id="NumberOfChildren">Number Of Children : @Html.Raw(model.Categories.Count)</p>
            <p class="property" data-id="ParentID">Parent ID : @(model.Parent == null ? string.Empty : model.Parent.ID.ToString() )</p>
        </div>
    </div>
}